[run]
branch = True
omit =
    */test*,
    */apps.py,
    */urls.py,
    */migrations/*.py
    panic/config/settings_stage.py
    panic/setup.py,
    panic/manage.py,
    panic/root/asgi.py,
    panic/root/wsgi.py
source = panic

[report]
precision = 1
show_missing = True
ignore_errors = True
exclude_lines = nocover
