name: panic-ProductionDeploys

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Create Docker Mounted Content
        run: |
          echo | ssh-keygen
          touch ${HOME}/.gitconfig
          touch ${HOME}/.gitconfig_global
      - name: Ensure File System is Writable by the Container
        run: |
          sudo chmod -R 777 .
      - name: Build Container
        run: |
          docker-compose build
          docker-compose up -d
      - name: Production -- Deploy
        run: |
          # Deploy to Production
          echo -n "${ADMIN_ENV}" | base64 --decode > ./environments/admin.env
          echo -n "${PROD_ENV}" | base64 --decode > ./environments/prod.env
          echo -n "${PROD_SERVICE_ACCOUNT}" | base64 --decode > ./service-account.json
          docker-compose exec -T panic bash -l -c 'scripts/commander.sh deploy-prod'
        env:
          ADMIN_ENV: ${{ secrets.ADMIN_ENV }}
          PROD_ENV: ${{ secrets.PROD_ENV }}
          PROD_SERVICE_ACCOUNT: ${{ secrets.PROD_SERVICE_ACCOUNT }}
      - name: Production -- Report Success
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"panic backend: automated production deployment was successful!"}' "${WEBHOOK_URL}"
        env:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
      - name: Production -- Report Failure
        if: ${{ failure() }}
        run: |
          [[ -z ${GIT_DIFF} ]] && curl -X POST -H 'Content-type: application/json' --data '{"text":"panic backend: automated production deployment has failed!"}' "${WEBHOOK_URL}"
        env:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          GIT_DIFF: ${{ env.GIT_DIFF }}
